body, html {
	padding: 0px;
	margin: 0px;
	background: url('../img/background.jpg') center;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1.4em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #173c72;
}

table {
	background-color: rgba(255, 255, 255, 0.98);
}

th {
	background-color: #dee0ed;
	font-size: 12pt;
}

.tooltip3 {
	position: relative;
	display: inline-block;
}

.tooltip3 .tooltiptext3 {
	visibility: hidden;
	width: 120px;
	background-color: #dee0ed;
	color: #004040;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip3 .tooltiptext3::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip3:hover .tooltiptext3 {
	visibility: visible;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #173c72;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	font-size: 30px;
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 200%;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.form-fieldset {
	background-color: rgba(255, 255, 255, 0.8);
	border: 5px solid #173C72;
	padding: 5px;
}

table>tbody>tr>.v-alighn {
	vertical-align: middle;
}

#sortfield {
	margin-top: 24px;
}

.btn-default {
	background-color: #dee0ed;
}

.panel-default {
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 60px;
}

#geo-error {
	position: fixed;
	top: 55px;
	width: 90%;
}

textarea {
	resize: vertical;
}
/* For meeetingJsp */
#map {
	height: 326px;
	width: 100%;
}

.panel-map {
	margin-top: 60px;
}

.panel-exit {
	margin-top: 60px;
}

.class-date {
	width: 120px;
	padding-right: 0px;
	padding-left: 1px;
	mergin-left: 0px;
	mergin-right: 0px;
}

.levelclass {
	width: 45px;
}

.meetingsTable {
	width: 100%;
}

.container {
	width: 95%;
}

.classid {
	width: 70px;
}

#logoutForm {
	margin-top: 8px;
}

.classtime {
	width: 70px;
}

.input-number {
	/* margin-left: 10px; */
	width: 60px;
}

.input-name {
	width: 130px;
}

#calendar {
	margin-top: 20px;
}


.chosen-category-row {
	margin-top: 20px;
}


.button-back-container {
	padding-left: 160px;
	float: left;
}

.zero-margin-top {
	margin-top: 0;
}

.float-calendar-details {
	float: left;
}

.padding-calendar-details {
	padding-left: 160px;
}
.zero-margin-top #calendar {
	margin-top: 0;
}