body, html {

	padding: 0px;
	margin: 0px;
	background: url('../img/background.jpg') center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: #FFF;
	line-height: 1.4em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

} 

 
table {
	border-collapse: collapse;
	width: 75%;
	margin: 0 auto;
	margin-top: 100px;
}

th, td {
	text-align: left;
	padding: 8px;
	color: #777;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: #FFF;
}

tr:hover {
	background-color: #789ed4;
}

tr:hover td {
	color: #FFF;
}

th {
	background-color: #2b5797;
	color: white;
}

th a:link {
	text-decoration: none;
	color: white;
}

th a:visited {
	text-decoration: none;
	color: white;
}

th a:hover {
	text-decoration: none;
	color: white;
}

th a:active {
	text-decoration: none;
	color: white;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #2b5797;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #789ed4;
}

div {

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 15%;
    margin: 0 auto;
    margin-top: 100px;
    color: #2b5797;
}