<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
<body>
	<body>
		<h3>Dear ${meeting.getOwnerFullName()},</h3>
		<p> unfortunately one of your meetings was canceled,
			because of the unavailability of the selected room. 
			Please correct this meeting.</p>
		<h4>Meeting details:</h4>
		<table>
			<tr>
				<th>Subject:</th>
				<td>${meeting.getSubjectName()}</td>
			</tr>
			<tr>
				<th>Room:</th>
				<td>${meeting.getRoomName()}</td>
			</tr>
			<tr>
				<th>Date:</th>
				<td>${meeting.getDate()}</td>
			</tr>
			<tr>
				<th>Start Time:</th>
				<td>${meeting.getStartTime()}</td>
			</tr>
			<tr>
				<th>End Time:</th>
				<td>${meeting.getEndTime()}</td>
			</tr>			
		</table>		
</body>
</html>