<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
<body>
	<body>
		<h3>Уважаемый ${meeting.getOwnerFullName()},</h3>
		<p> к сожалению, одна из Ваших встреч была отменена по причине недоступности выбранной комнаты. Пожалуйста, измените данную встречу.</p>
		<h4>Информация о встрече:</h4>
		<table>
			<tr>
				<th>Тема:</th>
				<td>${meeting.getSubjectName()}</td>
			</tr>
			<tr>
				<th>Комната:</th>
				<td>${meeting.getRoomName()}</td>
			</tr>
			<tr>
				<th>Дата:</th>
				<td>${meeting.getDate()}</td>
			</tr>
			<tr>
				<th>Начало:</th>
				<td>${meeting.getStartTime()}</td>
			</tr>
			<tr>
				<th>Конец:</th>
				<td>${meeting.getEndTime()}</td>
			</tr>			
		</table>		
</body>
</html>